/* Your custom css code goes here */

section#vr {
    position: relative;
    padding: 0 0;
    width: 100%; }
    section#vr h2 {
      font-size: 50px;
      color: white;
      margin-top: 0; }
    section#vr p {
      color: white; }
    section#vr .container {
      height: 200px; }
      section#vr .container .row {
        z-index: 3;
        background: rgbs(255, 255, 255, 0.3); }
    section#vr .vr-text {
      background: rgba(0, 0, 0, 0.3);
      padding-top: 20px; }
    section#vr .badges .badge-link {
      display: block; }
      section#vr .badges .badge-link:last-child {
        margin-bottom: 0; }
      section#vr .badges .badge-link img {
        height: 100px; }
      @media (min-width: 10vh) {
        section#vr .badges .badge-link {
          display: inline-block;
          margin-bottom: 0; } }
    section#vr .iframeVR {
      z-index: -100;
      margin-top: -200px; }
    @media (min-width: 100vh) {
      section#vr h2 {
        font-size: 70px; } }
  
  section.iframe-phone {
    visibility: hidden;
    margin: 0 !important; }